section{
    padding: 10px;
}

.title {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-content: center;

    h1 {
        color: #333333;
        margin: auto;
    }
}

.persons {
    .person-container{
        border: 1px solid rgb(190, 190, 190);
        border-radius: 10px;
        padding: 10px;
        width: auto;
        background: white;
        display: grid;
        margin-bottom: 2em;
        .title-person {
            font-size: larger;
            font-weight: 500;
        }
    }
}

.add-button {
    background-color: #c0dbff;
    margin-bottom: 20px;
    border-radius: 15px;
    padding: 20px;
}

.save-button {
    font-size: large;
    margin: auto;
    display: flex;

    @media screen and (max-width: 900px) {
        width: 60%;
    }
    
    @media screen and (min-width: 900px) {
        width: 30%;
    }
    
}

.button-delete {
    background-color: #ffc0c0;
    margin: 20px;
    border-radius: 15px;
    padding: 20px;
}

.field-50 {
    width: 50%;
}

.input-margin {
    margin: 10px;
}

mat-card {
    @media screen and (min-width: 1200px) {
        width: 50%;
        display: flex;
        margin: auto;
    }
    mat-card-content {
        padding: 22px;
        background: #fafdff;
    }
}
